.navbar {
    top: 0;
    left: 0;
    background-color: rgb(240, 240, 240);
    right: 0;
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: center;
    margin-bottom:30px;
  }