.body {
  font-family: "Times New Roman"
}

.navbar-wrapper {
  background: #313030;
  top: 0;
  left: 0;
  right: 0;
  color: white;
}

.navbar-header, .navbar-content {
  padding-bottom: 5px;
  padding-top: 20px;
  width: 90%;
  margin: 0 auto; /* Center the navbar-header */
  font-weight: bold;
  }

h3 {
  font-weight: bold
}
