<div class="navbar-wrapper">
  <div class="navbar-container">
    <div class="navbar-header">
      <button mat-button (click)="navigateToPage()"><h3>{{title}}</h3></button>
    </div>
    <div class="dropdowns-wrapper">
      <app-dropdown-menu buttonTitle="Armors" [menuItems]="armorTypes"></app-dropdown-menu>
      <app-dropdown-menu buttonTitle="Weapons" [menuItems]="weaponTypes"></app-dropdown-menu>
      <app-dropdown-menu buttonTitle="Sets" [menuItems]="sets"></app-dropdown-menu>
      <app-dropdown-menu buttonTitle="Runes" [menuItems]="runeTypes"></app-dropdown-menu>
    </div>
    <div class="navbar-menu">
      <app-dropdown-menu buttonTitle="Menu" [menuItems]="menuItems"></app-dropdown-menu>
    </div>
  </div>
</div>
